.navbar{
    background-color: slategray;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.title h2{
    font-weight: bold;
    color: white;
}
.nav-links{
    display: flex;
    align-items: center;
}

.nav-links ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.nav-links ul li{
    font-weight: 600;
    margin: 0px 10px;
    cursor: pointer;
    color: black;
}

.links{
    color: black;
    text-decoration: none;
    font-weight: 700;
}